@font-face {
  font-family: "Cerebri Sans";
  src: url("./fonts/CerebriSansPro-SemiBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url("./fonts/CerebriSansPro-Bold.ttf") format("truetype");
  font-weight: bolder;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url("./fonts/CerebriSansPro-Light.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url("./fonts/CerebriSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
}