@import url('./font.css');
@import url('./variable.css');
@import url('./activity.css');

.modal{
  position: fixed;
  z-index: 10;
  background-color: rgba(0,0,0,0.9) !important; 
  inset: 0;
  left: 0; right: 0; top: 0; bottom: 0;
  overflow: auto;
}
.modal_content{
  background-color: var(--white);
  width: 100% !important;
}
.modal_content .activity{
  margin: 0;
  margin-top: -1.25rem;
}
.modal_content .activity_action{
  border-bottom-right-radius: 0rem;
  border-top-right-radius: 20px;
}
.modal_content .activity_txt{
  border-bottom-left-radius: 0rem;
  border-top-left-radius: 20px;
}
.modal_img{
  border-radius: 15px;
  display: inline-block;
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
}
.modal_list{
  max-height: 0px;
  overflow: hidden;
  background-color: var(--white);
  font-family: "Cerebri Sans";
  font-weight: 100;
  transition: max-height 0.4s ease-out;
}
.modal_list-show{
  max-height: 500px;
  padding: .5rem 1.5rem 3rem;
}
.modal_list li{
  display: flex;
  align-items: center;
  margin: 1.25rem 0;
}
li:nth-child(-n+3) .modal_img{
  background-size: 100px;
}
li:nth-child(n+4) .modal_img{
  background-size: 100px, cover;
}
li:nth-child(1) .modal_img{
  background-image: url('../img/Akara-pap.png');
  background-color: var(--blue-600);
}
li:nth-child(2) .modal_img{
  background-color: var(--red-300);
  background-image: url('../img/jollof.png');
}
li:nth-child(3) .modal_img{
  background-image: url('../img/spag.png');
  background-color: var(--blue-600);
  transition: all .37s;
}
li:nth-child(4) .modal_img{
  background-image: url('../img/port-domenic.png'), url('../img/Rectangle.png');
}
li:nth-child(5) .modal_img{
  background-image: url('../img/carleeville.png'), url('../img/Rectangle-1.png');
}
li:nth-child(6) .modal_img{
  background-image: url('../img/south-chesleyton.png'), url('../img/Rectangle-2.png');
}
.modal_food-title{
  font-size: var(--font-18);
  color: var(--black-400);
  line-height: 25px;
}
.modal_food-sub{
  font-size: var(--font-15);
  color: var(--gray);
  line-height: 25px;
}
.modal_img-desc{
  margin-left: 1.25rem;
}
.food_gastonton{
  border-radius: 0;
  width: 100%;
  height: 350px;
  background-size: 520px !important;
  transform: translateY(-50%);
  top: 50% !important;
}

